// out: player.css, sourcemap: true, compress: true
@charset "UTF-8";

@import "mixins";
@import "icons";
@import "animate";

* { // todo: more precise
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.player {
  position: fixed;
  top: 50%;
  left: 50%;

  width: 268px;
  height: 320px;
  margin: -320px/2 0 0 -268px/2;

  &-uploader {
    // display: block;
    display: none;

    width: 268px;
    height: 268px;

    background-color: #f4f4f4;
    border-radius: 268px/2;

    input[type="file"] {
      .opacity(0);
    }
  }

  &-cover {
    position: relative;
    display: block;

    width: 268px;
    height: 268px;

    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    background-size: cover;
    border-radius: 268px/2;

    &:after {
      position: absolute;
      z-index: 1;
      content: "";
      top: 0;
      left: 0;

      width: 268px;
      height: 268px;

      background-color: rgba(0,0,0,.38);
      border-radius: 268px/2;
    }
  }

  &-progress {
    position: absolute;
    z-index: 2;
    top: -5px;
    left: -5px;

    width: 268px + 10px;
    height: 268px + 10px;
  }

  &-frequency {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;

    width: 268px;
    height: 268px;

    border-radius: 268px/2;
  }

  &-control {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;

    width: 268px;
    height: 268px;

    border-radius: 268px/2;

    &>* {
      position: absolute;

      width: 48px;
      height: 48px;

      background-color: #333;
      background-repeat: no-repeat;
      background-position: center center;

      border-radius: 48px/2;

      cursor: pointer;

      &:active {
        margin-top: 1px;
      }
    }

    &-sound {
      .icon-sound;
      top: -6px;
      right: 47px;

      background-size: 61% 63%;
      background-position: 10.5px 10.5px;
    }
    &-menu {
      .icon-menu;
      top: 28px;
      right: 5px;

      background-size: 73%;
      background-position: 8px 17px;
    }
    &-prev {
      .icon-prev;
      top: 268px - 48px - 8px;
      left: 35px;

      background-position: 12px 16px;
    }
    &-next {
      .icon-next;
      top: 268px - 48px - 8px;
      right: 35px;

      background-position: 15px 16px;
    }
    &-play {
      .icon-play;
      top: 200px;
      left: 50%;

      width: 89px;
      height: 89px;
      margin-left: -89px/2;

      background-position: 33px 26px;
      border-radius: 89px/2;

      &:active {
        margin-top: 2px;
      }

      &.pause {
        .icon-pause;
        background-position: 30px 26px;
      }
    }
  }
}

// jquery UI
.ui-slider {
  &.ui-slider-vertical {
    width: 4px;
  }
  .ui-slider-handle {
    width: 12px;
    height: 12px;
    border-color: #999;
  }
}
