<div id="{{id}}" class="equalizer-control">
  <div class="equalizer-control-label">{{max}}</div>
  <div class="equalizer-control-slider" data-slider="true"></div>
  <div class="equalizer-control-label">{{min}}</div>
</div>
