<div id="{{id}}" class="equalizer-control">
  <div class="equalizer-control-label"><b>{{name}}</b></div>
  <div class="equalizer-control-label">{{max}}</div>
  <div class="equalizer-control-slider" data-freq="{{freq}}" data-slider="true"></div>
  <div class="equalizer-control-label">{{min}}</div>
</div>
