<div id="{{id}}" class="playlist-item" data-track-idx="{{trackIdx}}">
  <div class="playlist-item-progress" data-track-progress="true"></div>
  <span class="playlist-item-author">{{author}}</span>
  <span class="playlist-item-song">{{song}}</span>
  <span class="playlist-item-duration">
    <span data-track-position="true">{{position}}</span> /
    <span data-track-duration="true">{{duration}}</span>
  </span>
</div>
